.embla {
    overflow: hidden;
    /* max-height: 500px; */
  }
  .embla__container {
    display: flex; 
    gap:30px;
  }
  .embla__slide {
    flex: 0 0 40%;
    /* flex:0.6; */
    /* min-width: 0; */
    max-width: 1000px;
    max-height: 500px;
    border-radius: 20px;
    overflow: hidden;
  }
  